@charset "utf-8";
/* CSS Document */

body {
	background-color: #eee;
	font-family:'Oxygen', sans-serif;
	font-size: 16px;
	color:#000;
}
#wrapper {
	width:100%;
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}
/*Headings*/
@font-face{
	font-family:header-font;
	src: url(../fonts/iceberg.ttf);
}
h1 {
	text-align:center;
	font-size:30px;
	font-family:header-font;
	color:#575859;
}
h2 {
	font-size:24px;
	font-family:header-font;
	font-weight:bold;
	color:#575859;
	min-width:150px;
}
h3 {
	font-size:14px;
	color:#927D7A;
}
h4 {
	font-size:28px;
	font-weight:bold;
}

/*Header*/
@font-face {
	font-family:logo-font;
	src: url(../fonts/Damion-Regular.ttf);
}
#logo {
	padding:0px 21px 0px 21px;
	width:275px;
}
.robot {
	font-family:logo-font;
	font-size:62px;
	display: table-cell;
	color:#C5110B;
	line-height:0px;
}
.juice {
	font-family:logo-font;
	font-size:62px;
	display: table-cell;
	padding-left:15px;
	line-height: 0px;
}
.slogan {
	font-size:11px;
	text-align:right;
	color:#333333;
	margin-top:-50px;
}

@media (max-width: 320px){
#logo {
	width:150px;
}
.robot {
	font-size:32px;
}
.juice {
	font-size:32px;
}
.slogan {
	font-size:11px;
	padding-top:17px;
}
}
/*Navigation*/
#nav ul {
	margin:0px;
	padding:0px;
	list-style:none;
	text-align:center;
	margin-right:-2px;
}
#nav ul li {
	display:inline-block;
	font-size:12px;
	font-weight:100;
	border-top:solid thin #C1BEBA;
	background-image:url(../images/nav-divider.jpg);
	background-repeat:no-repeat;
	background-position:right;
	width:100%;
	margin-left:-4px;
}
#nav ul li:last-child {
	background-image:none;
}
#nav ul li a {
	display:block;
	padding:0px;
	line-height:62px;
	text-decoration: none;
	color: #8F8F8F;
	font-weight:bold;
}
#nav a:hover, #nav .current_page_item a {
	background:#C5110B;
	text-decoration: none;
	color: #fff;
}
#nav {
	width:100%;
	float:left;
	-moz-column-count:6;
	-moz-column-gap:0px;/*keeps the nav consistant through different approaches */
    -webkit-column-count:6;
	-webkit-column-gap:0px;
    column-count:6;
	column-gap:0px;
}

@media (max-width: 700px){
#nav {
	-moz-column-count:3;
    -webkit-column-count:3;
    column-count:3;
	max-width:710px;
	margin:0px;
}
#nav ul li:last-child {
	background-image:url(../images/nav-divider.jpg);
	background-repeat:no-repeat;
	background-position:right;
}
}
@media (max-width: 480px){
#nav {
	width:100%;
	-moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
}
}	
@media (max-width: 320px){
#nav {
	width:100%;
	-moz-column-count:1;
    -webkit-column-count:1;
    column-count:1;
}
}	
/*Content*/
#content {
	font-size:12px;
}
.cover-image img {
	width:100%;
	height:100%;
}
/*top*/
#ad-grid {
	float:left;
	margin:0px 0px 0px -30px;
	width:110%;
	min-width:600px;
}
@media (max-width: 480px){
#ad-grid {
	min-width:0px;
}
}	
.ad-image-column1-4 img {
	box-shadow: 2px 2px 10px #333; /*shadow "width" "height" "opacity" and then "colour" */
	width:100%;
	height:100%;
}
.ad-image-column1-4 {
	margin:0px -60px 0px 0px;
	width:28.5%;
	display:inline-block;
	float:left;
	
}
@media (max-width: 480px){
.ad-image-column1-4 {
	float:left;
	width:58%;
}
}
@media (max-width: 320px){
.ad-image-column1-4 {
	float:none;
	display:block;
	width:100%;
}
}

/*mid*/
#mid-content-grid {
	width:100%;
}
#mid-content-grid:after {
  content: "";
  display: table;
  clear: both;
}
#mid-column-2-3 {
	float:left;
	width:59.78260869565217%;
	max-width:550px;
}
@media (max-width: 480px){
#mid-column-2-3 {
	width:100%;
}
}
.newsdate {
	text-align:right;
	font-size:10px;
	font-style:italic;
	color:#C5110B;
}
#mid-column-1-3 {
	width:29.0869565217391%;
	float:left;
	background-color:#fff;
	margin:-30px 0px 0px 6.521739130434783%;
}
@media (max-width: 480px){
#mid-column-1-3 {
	width:100%;
	margin:0px;
}
}
.question {
	color:#C5110B;
	padding-top:30px;
}
.poll-answer {
	padding:10px 0px 10px 0px;
}

/*Bottom*/
#bottom-content-container {
	width:100%;
	background-color:#fff;
	margin-top:75px;
}
#bottom-content-container:after {
    content: "";
    display: table;
    clear: both;
}
#bottom-content {
	height:282px;
	width:100%;
	max-width:962px;
	margin-left:auto;
	margin-right:auto;	
}

.bottom-column-1-4 {
	float:left;
	width:25%;
	padding:10px 0px 0px 0px;
	font-size:12px;
	color:#C8110B;
	font-weight:bold;
}
.bottom-column-1-4 p {
	margin-top:-29px;
}
.bottom-column-1-4 img {
	padding:40px 0px 0px 0px;
}
.bottom-column-1-2 {
	width:50%;
	float:left;
	margin-left:-50px;
}
@media (max-width: 700px){
.bottom-column-1-4 {
	width:25%;
	padding:10px 0px 0px 30px;
}
.bottom-column-1-2 {
	width:50%;
	margin-left:-180px;
}
}
@media (max-width: 480px){
.bottom-column-1-4 {
	width:45%;
	padding:10px 0px 0px 3px;
}
.bottom-column-1-2 {
	width:150%;
	float:none;
	margin-left:-230px;
}
}
@media (max-width: 340px){
.bottom-column-1-4 {
	float:none;
}
}
#links {
	float:left;
	padding:10px 10px 100px 110px;
	list-style: none;
	margin-left:100px;
	color:#C8110B;
	text-align:center;
}
#links ul {
	font-size:12px;
	text-align:left;
	margin-top:-35px;
}
#links ul li {
	list-style: none;
}
#links ul li a {
	color:#C8110B;
	text-decoration: underline;
	display:block;
	padding:8px;
	font-weight:bold;
}
#links a:hover, #links .current_page_item a {
	color: #000;
	text-decoration:none;
}

/*Horizontal Rules*/
hr {
	padding:0;
	margin:0;
}
.hr1 {
	margin-top:50px;	
	margin-bottom:50px;	
}
.hr2 {	
	margin:400px 0px 50px 0px;
}
@media (max-width: 320px){
.hr2 {	
	margin:1275px 0px 50px 0px;
}
}
.hr3 {
	
}

/*Footer*/
#footer-container {
	max-width:100%;/*Allows full width background colour*/
	background-color:#C8110B;
	border-top:solid thin #000;
	
}
#footer {
	font:12px Arial, Helvetica;
	font-weight:bold;
	color:#000;
	padding:10px 10px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:960px;
}
#footer:after {
  content: "";
  display: table;
  clear: both;
}
.footer-column-1-3 {
	width:33.33%;
	padding:0px 10px 75px 0px;
	float:left;
}
.footer-column-1-3-empty {
	width:28%;
	padding:0px 0px 75px 0px;
	float:left;
}
.footer-column-1-3 ul {
	min-width:200px;
	margin:0;
	padding:0px 0px 0px 0px;
	list-style:none;
	text-align:center;
}
.footer-column-1-3 ul li {
	display:inline-block;
}
.footer-column-1-3 ul li a {
	display:block;
	text-decoration:none;
	color:#000;
}
.footer-column-1-3 a:hover, #footer-column-1-3 .current_page_item a {
	color:#fff;
	text-decoration:none;
}
@media (max-width: 700px){
.footer-column-1-3-empty {
	width:20%;
}	
}
@media (max-width: 480px){
.footer-column-1-3-empty {
	width:0%;
}
.footer-column-1-3 {
	width:100%;
	float:none;
	padding:0px;
}	
.footer-column-1-3 ul {
	min-width:0px;
}
}

